$color-primary: #DB9F6C;     
$color-text: #282828;
$color-text-light: #777;
$color-border: #eee;

$color-heading: #3f3f3f;

$bg-primary: #FAF8F5;
$bg-brown: #b98c67;
$bg-dark-brown: #7F5B3C;
$bg-light-brown: #8B6F47;
$btn-secondary-bg: #DB9F6C;  

$text-light: #fdfdfd;
$text-dark: #333;
$color-text-subtitle: #2E1E11;

$color-text-brown: #7F5B3C;

$bg-gradient-start: #d5a678;
$bg-gradient-end: #fdfaf6;
$input-bg: #e6cbb6;
$btn-color: #d49058;

@mixin btn-hover-effect {
  &:hover {
    background-color: #000;
    color: #fff;
  }
}