$navbar-height: 100px; 

.hero-slide--aura {
  display: grid;
  grid-template-columns: 45% 55%;
  height: calc(100vh - $navbar-height);
  align-items: center;
  position: relative;
  background: #fff; // Nền trắng cho phần ảnh

  .hero-slide__content {
    background: $bg-brown; // Biến màu nâu
    color: $text-light;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 6rem;
    z-index: 2;
  }
}

.hero-slide__subtitle {
  color: $color-text-subtitle;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.hero-slide__title {
  font-size: 3rem; // Cỡ chữ lớn
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.hero-slide__description {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 510px; // Giới hạn chiều rộng
  margin-bottom: 2rem;
}

.hero-slide__image-container {
  height: 100%;
  position: relative;
  z-index: 1; 
  img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
}
