*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  margin: 0; 
  padding: 0;
  width: 100%;
  background: #FAF8F5;
}

input, button, textarea, select {
  font: inherit;
}