/*Montserrat (weights 400, 500) và Poppins (weights 500, 700) */
@import url('ttps://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 2. Áp dụng font MẶC ĐỊNH (cho mô tả) */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; // Độ dày chữ mặc định
    color: #282828; // Giả sử bạn có biến này, nếu không hãy dùng #333
    line-height: 1.6; // Cải thiện khả năng đọc
}

/* 3. Áp dụng font TIÊU ĐỀ (ghi đè mặc định) */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600; // Tiêu đề chính nên in đậm
    line-height: 1.2;
}

h1 {
    font-size: 3rem; 
}

h2 {
    font-size: 2rem; 
}

h3 {
    font-size: 1.75rem; 
}