// src/pages/ProductPage/CategoryNav.scss

.category-nav {
  position: sticky;
  top: 80px;
  z-index: 990; // Nằm dưới Navbar (z-index: 1000)

  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  
  background-color: rgba(255, 255, 255, 1); 
  backdrop-filter: blur(0px); 
  
  // Hiệu ứng chuyển mượt
  transition: background-color 0.4s ease, backdrop-filter 0.4s ease;
}

// Trạng thái KHI CUỘN (50% trong suốt + kính mờ)
.category-nav.is-sticky {
  background-color: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


// Style cho các nút
.category-btn {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;

  // Nút được chọn
  &.active {
    background-color: $bg-light-brown;
    color: #fff;
    border-color: $bg-light-brown;
  }

  // Khi hover
  &:not(.active):hover {
    background-color: $bg-light-brown;
    color: #fff;
    border-color: #ccc;
  }
}